<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Contextual needs your location to trigger geogates.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Contextual uses background location to provide proactive reminders and geogate events.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>audio</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>Contextual uses motion data to detect hands-free events and reduce battery impact.
</string>
</dict>
</plist>
